* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 80%;
    background-color: gray;

}

.element {
    display: flex;
    justify-content: space-around;

}

.todoCheck {
    width: 20px;
}

.inputs input{
    max-width: 100%;
}