* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 80%;
    background-color: lemonchiffon;
    margin: 0;
    padding: 0;


}

.element {
    display: flex;
    justify-content: left;
    margin: 0;

}

li:nth-child(2n) {
    background:
        lightgreen;
}

.todoCheck {
    display: flex;
    justify-content: left;
    margin: 0;
}

.inputs input {
    max-width: 100%;
}



.todoText {
    padding-left: 1rem;
}

.remove{
    padding-left: 1rem;
    text-decoration: line-through;
}